body{
    font-family: 'Abril Fatface', cursive;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
    margin-top: 0%;
}
.donate-container{
    text-align: center;
}
.white-title{
    font-size: 70px;
    font-weight: bold;
    color: white;
    padding-top: 40px;
}
.buddha-qoute{
    font-size: 25px;
    font-weight: bold;
    color: beige;
    padding-bottom: 35px;
}
.donate-link{
    background-image: linear-gradient(salmon, tomato);
    padding: 20px 30px;
    text-decoration:none;
    border-radius: 10px;
}
#first-area{
    height: 700px;
    background-image: url(donate-today-main/images/donation6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: -70px;
    }
    .heading{
        text-align: center;
        font-weight: bold;
        font-size: 50px;
    }
    .second-sub-heading{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 100px;
    }
    .five-width{
        width: 15%;
        font-weight: bold;
        font-size: 45px;
        box-shadow: 20px 20px 20px gray;
        margin: 0 30px;
        text-align: center;
    }
    .money-area{
        display: flex;
        margin-left: 70px;
        margin-bottom: 50px;
    }
    .taka-color{
        background-color: green;
    }
    .other-tk{
        text-align: center;
    }
    .border{
        border-bottom: 3px solid gray;
        width: 50%;
        margin-left: 25%;
        margin-bottom: 50px;
    }
    .donate-taka{
        background-image: linear-gradient(salmon, tomato);
        padding: 20px 30px;
        text-decoration:none;
        border-radius: 10px;
        margin-left: 44%;
    }
    .donation{
        display: flex;
    }
    .three-width{
        width: 25%;
        margin-left: 6%;
        border-radius: 10px;
        text-align: center;
    }
    .food{
        background-color: lightcyan;
    }
    .food img{
        padding-top: 20px;
    }
    .shelter{
        background-color: lightpink;
    }
    .shelter img{
        padding-top: 20px;
    }
    .education{
        background-color: lightsalmon;
    }
    .education img{
        padding-top: 20px;
    }
    .text-justify{
        text-align: justify;
        padding: 0 7px;
    }
    .donation-container{
        margin-top: 150px;
        margin-bottom: 150px;
    }
    #e-mail-area{
        display: flex;
        margin-left: 24%;
        width: 809px;
        height: 200px;
        background-color: lightgoldenrodyellow;
        border-radius: 5px;
    }
    #e-mail{
        width: 432px;
        height: 48px;
        background-color: gainsboro;
        font-weight: bold;
        border-radius: 5px 0 0 5px;
        padding-top: 17px;
        padding-left: 15px;
        margin-top: 70px;
        margin-left: 90px;
    }
    #subscribe{
        width: 157px;
        height: 48px;
        background-color: tomato;
        color: white;
        border-radius: 0 5px 5px 0;
        padding-top: 17px;
        text-align: center;
        margin-top: 70px;
    }
    #update-area{
        margin-bottom: 150px;
    }
    #humble-area{
        background-color: black;
        height: 200px;
    }
    #humble-area h1{
        color: tomato;
        text-align: center;
        font-family: Lobster;
        font-size: 50px;
        padding-top: 30px;
    }
    #humble-area p{
        color: white;
        text-align: center;
    }
    